body {
    background-color: grey;
}

.header h1{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.header p {
    font-size: smaller;
    position: absolute;
    right: 2px;
}

.navigation {
    display: flex;
    justify-content: center;
}

.navigation a {
    text-decoration: none;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    padding: 5px;
}

.car-image {
    width: 200px;
    border: 6px solid black;
    border-radius: 5px;
}

.car {
    width: 250px;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}